.u-mbt-medium {
  margin-bottom: 3rem !important;
}
.u-mbt-small {
  margin-bottom: 1em !important;
}
.u-link-primary {
  background-color: #3173dc;
}
.u-link-success {
  background-color: #4ac674;
}
.u-link-error {
  background-color: #cf2222;
}
