$color-white: #fff;
$color-primary: #081c2d;
$color-primary-menu: #0b1f30;

$color-primary-dark: #05121e;
$color-primary-light: #102c48;
$color-gray: #7a7a7a;
$color-gray-2: #dbdbdb;
$color-gray-3: #b5b5b5;
$color-gray-light: #282222;
$color-blue: #418bca;
$color-red: #cf2222;
$color-red-dark: #c41f20;
$color-red-light: #de013f;
$color-yellow: #b0a21d;
$color-yellow-light: #ffdd57;
$color-yellow-dark: #cc7b19;
$color-purple: rgba(51, 10, 103, 0.93);
