.main-title {
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: $color-yellow;
  line-height: 1.8;
  padding: 1rem 0;
  margin-top: 2rem;
  border-bottom: 0.5px solid $color-blue;
}
.list-movie {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: 2rem;
  &__card {
    max-width: 20%;
    flex: 0 0 20%;
    padding: 0 0.75rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
      transform: translateY(-5px);
    }
    // @include respond(big-desktop) {
    //   max-width: 20%;
    //   flex: 0 0 20%;
    // }
    @include respond(tab-land) {
      max-width: 25%;
      flex: 0 0 25%;
      padding: 0 0.75rem;
    }
    @include respond(tab-port) {
      max-width: 33.333333%;
      flex: 0 0 33.333333%;
      padding: 0 0.75rem;
    }
    @include respond(phone) {
      max-width: 50%;
      flex: 0 0 50%;
      padding: 0 0.75rem;
    }
  }
  &__link {
    img {
      width: 100%;
    }
  }
  &__image {
    width: 100%;
    aspect-ratio: 2 / 3;
    overflow: hidden;
  }
  &__name {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-weight: 300;
    &--vn {
      color: $color-gray-2;
    }
    &--en {
      color: $color-gray;
    }
  }
}
.list-movie.list-column {
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}

// Column Items

.col-movie__card {
  display: flex;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid $color-blue;
  &:last-child {
    border-bottom: none;
  }
}
.col-movie__image {
  margin-right: 1rem;
  cursor: pointer;
  height: 225px;
  aspect-ratio: 2/3;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}
// Content
.col-movie__content {
  flex: 1;
  padding: 0 1rem;
}
.col-movie__contentTop {
  font-size: 1.7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  .contentTop__left {
    &--name {
      cursor: pointer;
      color: $color-gray-2;
    }
    &--year {
      color: $color-gray;
      font-weight: 300;
    }
  }
  .contentTop__right {
    &--duration {
      color: $color-gray;
      font-weight: 300;
    }
    &--country {
      color: $color-gray-2;
      text-align: right;
      font-weight: 300;
    }
  }
}

.col-movie__contentMiddle {
  margin-bottom: 2rem;
  .contentMiddle__overview {
    font-size: 1.6rem;
    color: $color-gray-3;
    font-weight: 300;
  }
}

.col-movie__contentBottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include respond(tab-medium) {
    flex-direction: column;
  }
  .contentBottom__left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: -7px;

    &--genre {
      padding-left: 7px;
      padding-right: 7px;
      margin-bottom: 1rem;
      span {
        cursor: pointer;
        font-size: 1.3rem;
        display: inline-block;
        border-radius: 5px;
        border: 1px solid $color-gray-2;
        padding: 0.5rem 1.2rem;
        transition: all 0.1s ease-out;
        &:hover {
          background-color: $color-gray-2;
          color: $color-blue;
        }
      }
    }
  }
  .contentBottom__right {
    margin-bottom: 2rem;
  }
}

@include respond(tab-port) {
  .col-movie__contentTop {
    font-size: 1.6rem;
  }
  .col-movie__contentMiddle {
    .contentMiddle__overview {
      font-size: 1.5rem;
    }
  }
}

@include respond(phone) {
  .col-movie__contentTop {
    flex-direction: column;
    align-items: flex-start;
    .contentTop__right {
      &--country {
        text-align: left;
      }
    }
  }
}

@include respond(sm-phone) {
  .col-movie__card {
    flex-direction: column;
  }
  .col-movie__content {
    padding: 0;
  }
}
