.login,
.forgot {
  max-width: 42rem;
  min-height: 80vh;
  width: 100%;
  margin: auto;
  &__links {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }
  &__link {
    color: $color-blue;
    font-weight: 300;
    font-size: 1.5rem;
    margin-left: 1.3rem;
    &:hover {
      text-decoration: underline;
    }
  }
  &__title {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  &__form {
    display: block;
    background-color: $color-white;
    padding: 1.5rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
  }
  &__line {
    width: 100%;
    height: 1px;
    background-color: $color-gray-2;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    &::after {
      content: "HOẶC";
      position: absolute;
      font-size: 1.3rem;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 2px;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 5px;
      font-weight: 300;
    }
  }
  &__button {
    width: 100%;
    padding: 1.5rem 2rem;
    border: none;
    font-size: 1.5rem;
    background-color: $color-blue;
    color: $color-white;
    cursor: pointer;
    border-radius: 5px;
    &--gg {
      background-color: $color-red-light;
    }
    &--disabled {
      background-color: rgba($color-blue, 0.8);
      cursor: not-allowed;
    }
  }
}
.form__control {
  margin-bottom: 1rem;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  height: 3.5rem;
  padding: 0 0.5rem;
  border: none;
  outline: none;
  border-bottom: 1px solid $color-gray-2;
  font-size: 1.5rem;
}
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
  font-family: inherit;
  color: $color-gray;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}
.checkbox__control {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  label {
    color: rgba(0, 0, 0, 0.759);
    font-size: 1.4rem;
  }
}
.phone__control {
  position: relative;
}
.form__text {
  color: rgba(0, 0, 0, 0.759);
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.form__error {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  color: red;
}
.butons__group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  button {
    border: none;
    padding: 0.9rem 1.4rem;
    margin-left: 1rem;
    cursor: pointer;
    font-size: 1.4rem;
    background-color: $color-green;
    color: $color-white;
  }
}
