.footer {
  background-image: url("../../assets/images/footer-bg.jpeg");
  padding: 5rem 3.5rem 9rem;
  @include respond(tab-port) {
    padding: 5rem 1.5rem 9rem;
  }
  &__title {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 3rem;
  }
  &__link {
    color: $color-blue;
    &--thick {
      font-weight: 300;
    }
  }
  &__list {
    list-style: circle !important;
    list-style-position: inside !important;
    color: $color-gray;
    font-size: 1.5rem;
  }

  &__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__social {
    display: flex;
    align-items: center;
    background-color: #dddddd;
    padding: 5px;
    border-radius: 5px;
    color: #2806fe;
    line-height: 1;
    i {
      color: #4167b2;
      font-size: 2.2rem;
      display: inline-block;
      margin-right: 5px;
    }
  }
}
